#container {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    border-color: black;
    border: 1px solid;
    place-content: center;
}


.grid {
    display: flex;
    border: 1px solid;
    height: 25px;
    width: 25px;
    align-self: center;
}

.mouseOver {
    background-color: black;
}